@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #e6e6ff;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.animatedButton{
    animation-duration: 10000ms;
}

.ql-container{
    border: none !important;
}

.ql-editor{
    border: none !important;
}

.ql-toolbar{
    border: none !important;
}